.container{
    width: 1080px;
    margin: auto;
    background-color: #c7f2ff;
}
.text{
    background-color: #c6f2ff;
    width: 100%;
    height: 100px;
}

.text h1{
    padding-top: 50px;
    text-align: center;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #93e6ff;
}

.navbar ul li{
    float: left;
}

.navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}

.navbar ul li a:hover{
    background-color: #7ae1ff;
}
li .food{
    float: left;
}

.content{
    width: 100%;

}


img{
    width: 200px;
    height: 200px;
}

#home{
    width: 100px;
    height: 100px;
}


