body {
    background-color: #C6F2FF;
  margin:0;
}

* {
    box-sizing: border-box;
}


    /* Container start */

  .grid-container {
        display: grid;
        grid-template-columns: auto 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            'logo nav nav nav nav nav nav nav nav'
            'header header header header header header header header header'
            'content content content content content content content content content'
            'image image image image image image image image image';
        gap: 0px;
        padding: 0px;
        background-color: #c7f2ff;
        justify-items: center;
        align-items: center;
    }

    /* Container end */




/* Logo and nav */
.logo {
    grid-area: logo;
  display: flex;
  allign-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
}

.logo img {
    background-color: #93e6ff;
    width: 192px;
    height: 89px;
  display: block;
}

.logo img:hover {
    background-color: #7ae1ff;
}

.navbar {
    grid-area: nav;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #93e6ff;
    align-items: center;
  justify-content: center;
  display: flex;

}



.navbar ul li {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  margin: 0;

}

.navbar ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 20px;
    text-decoration: none;
}

.navbar ul li a:hover {
    background-color: #7ae1ff;
}

/* Logo and nav */
/* Header */
.header {
    padding: 50px;
    text-align: center;
    grid-area: header;
}

.header h1 {
    text-align: center;

}

/* Header */
/* content start*/
.welcome {
    width: 80%;
  max-width: 800px;
  grid-area: content;
  display: flex;
  justifiy-content: center;
 
}

.welcome p {
    text-align: center;
    background-color: #BBF2FF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 26px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.content {
    width: 100%;
  grid-area: content;
}

.content dl dd {
    background-color: #BBF2FF;
    padding: 6px;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
.content dl dd strong{
  font-weight: bold;
}

/* content end*/
.image{
  grid-area: image;
}
.image img {
    text-align: center;
    width: 280px;
    height: 210px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
