body{
    background-color: #C6F2FF;
}
* {
    box-sizing: border-box;
    margin: 0;
}

div.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
div.gallery-item img{
    width: 100px;

.grid-container{
    display: grid;
    grid-template-areas:
   'home nav nav nav nav nav nav nav'
   'header header header header header header header header'
   'text text text text text text text text';

    gap: 10px;
    padding: 10px;
    background-color: #c7f2ff;
}


}

.logo{
    grid-area: logo;

}
.logo img{
    background-color: #93e6ff;
    width: 192px;
    height: 89px;
}
.logo img:hover{
    background-color: #7ae1ff;
}

.navbar{
    grid-area: nav;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #93e6ff;
    align-items: center;

}
.navbar ul,img{
    float: left;
}

.navbar ul li{
    float: left;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}




.navbar ul li a{
    display: block;
    color: white;
    text-align: center;
    padding: 35px;
    text-decoration: none;



}

.navbar ul li a:hover{
    background-color: #7ae1ff;
}
.header {
    padding: 50px;
    text-align: center;
    grid-area: header;
}

    .content{
        width: 80%;
    }
    .content p{
        text-align: center;
        background-color: #BBF2FF;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 26px;
        font-family: "Josefin Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;

    }

    .image img{
        text-align: center;
        width: 193px;
        height: 140px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        gap: 16px;
    }
